/* Beta-001 */
/* The Hivedroid Mainframe */
/* 6-17-2134 */

:root {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    --hive-red: #ff1818;
    --hivedroid-metal: #171717;
}

body {
    background-color: var(--hivedroid-metal);
    color: var(--hive-red);
}



.grid-container {
    /* width: 90%; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 400px 90px;
    /* gap: 20px; */
    
    grid-template-areas:
    
    'h h h h'
    'n n n a'
    'm m m a'
    'f f f f';
}

header {
    grid-area: h;
    background-color: orange;
}

nav {
    grid-area: n;
    background-color: green;
}

main {
    grid-area: m;
    background-color: limegreen;
}

aside {
    grid-area: a;
    background-color: pink;
}

footer {
    grid-area: f;
    background-color: rgb(105, 96, 96);
}

a:visited {
    color: var(--hive-red);
}

a:hover {
    color: var(--hive-red);
}

a:active {
    color: var(--hive-red);
}

/* Need to add a MEDIA QUERY to make the page responsive */
/* You want the page to be able to flip between desktop and mobile layout */