/* Andrew Pangonis */
/* 2-24-2026 */
/* Future War Archive Site */

/* CSS reset rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  background-color:black;
  font-family: monospace;
  color: #15f4ee;
  margin: 0 auto;
  width: 1100px;
}

article {
  /* float: center; */
  padding: 20px;
  /* width: 50%; */
  text-align: center;
}

header {
  padding: 30px;
  /* text-align: center; */
  /* width: 50%; */
}

#title {
  text-align: center;
}

a:link{
  color: #15f4ee;
}

a:visited{
  color: #15f4ee;
}

a:hover{
  color: #15f4ee;
}

a:active{
  color: #15f4ee;
}

