/* First and last name */
/* Current date */
/* Project title */

/* CSS reset rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

p {
  color: red;
}
