/* Andrew Pangonis */
/* 3-20-2026 */
/* Javascript Gallery */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --decaying-gray: #898989;
    --destruction-black: black;
    --creation-white: white;
    --hive-metal: #1D212E;
}

body {
    text-align: center;
    margin: 20px;
}

#gallery-container {
    display: grid;
    margin: 20px;
    max-width: 600px;
    padding: 20px;
    grid-template-areas:
    "title"
    "image"
    "caption"
    "btn-prev"
    "btn-pause"
    "btn-next";
}

h1 {
    grid-area: "title";
    margin: 0;
}

#gallery-img {
    grid-area: "image";
    max-width: 100%;
    height: auto;
    border: 1px;
    border-radius: 4px;
    justify-self: center;
    gap: 15px;
}

#gallery-caption {
    grid-area: "caption";
    margin: 0;
    font-size: 18px;
}

#prev-btn {
    grid-area: "btn-prev";
}

#pause-btn {
    grid-area: "btn-pause";
}

#next-btn {
    grid-area: "btn-next";
}

button {
    padding: 10px, 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--hive-metal);
    color: var(--creation-white);
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: var(--decaying-gray)
}

 {

}