/* Andrew Pangonis */
/* 3-20-2026 */
/* CSS Variables Intro */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    /* TODO 1: Add three (3) CSS variables representing colors to this rule */
    --decaying-gray: #898989;
    --destruction-black: black;
    --creation-white: white;
    --hive-metal: #1D212E;
}

/* TODO 2: Define three separate CSS classes; use a different CSS variable for each class */
body {
    background-color: var(--hive-metal);
}

.line1 {
    color: var(--decaying-gray)
}

.line2 {
    color: var(--creation-white)
}

.line3 {
    color: var(--destruction-black)
}
/* TODO 3: Apply a separate CSS class to each of the h3 elements in your web page */

/* TODO 4: Show your finished page and style sheet to your teacher */







