/* Andrew Pangonis */
/* Functions Evidence Test */
/* 4-27-26 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size: 16px;
  --aquamarine: rgb(127, 255, 212);
  --white: #fff;

}





